body {
  margin: 0;
  padding: 0; }

.panel-header {
  width: 100%;
  height: 90px;
  background-color: pink; }

.hd {
  width: 100%;
  height: 30px;
  padding: 0px 50px;
  background-color: aquamarine; }
  .hd .lt {
    width: 300px; }
  .hd .rt .i {
    list-style: none;
    width: calc((100% - 100px -300px) / 6) px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    justify-content: center;
    align-items: center; }

.df {
  display: flex; }

.jcsa {
  justify-content: space-around; }

.jcsb {
  justify-content: space-between; }

.fww {
  flex-wrap: wrap; }

.ft {
  width: calc(100% - 100px);
  height: 60px;
  padding: 0px 50px;
  position: relative; }
  .ft .lt {
    width: 140px;
    height: 60px;
    border: 1px solid yellow; }
  .ft .ct {
    width: 400px;
    height: 60px;
    border: 1px solid burlywood; }
    .ft .ct .it {
      width: 100px;
      font-size: 14px;
      justify-content: center;
      align-items: center;
      height: 60px;
      line-height: 60px; }
      .ft .ct .it:hover .p {
        display: block; }
      .ft .ct .it .p {
        display: none;
        position: absolute;
        top: 60px;
        left: 0px;
        width: 100%;
        height: calc(70vh - 90px);
        background-color: red; }
        .ft .ct .it .p .i {
          width: calc(50% - 40px);
          margin: 10px 10px; }
  .ft .rt {
    width: 140px;
    height: 60px;
    border: 1px solid red; }
